<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas - Alumno</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>

<body>
    <header>
        <h1>Tareas</h1>
        <h3>Nombre</h3>
    </header>
    <nav>
        <ul>

        </ul>
    </nav>
    <main>
        <div class="container" id="tareas-container">
            <h2>Mis Tareas</h2>
            <!-- Aquí se agregarán dinámicamente las tareas -->
        </div>
    </main>
    <footer>
        <p>&copy; Sistema escuela</p>
    </footer>

    <!-- Enlace al archivo JavaScript -->
    <script src="../assets/jalarAsignacion.js"></script>
</body>

</html>
