<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
        async function fetchToken() {
            try {
                const response = await fetch('/dogo');
                const data = await response.json();
                if (data.token) {
                    sessionStorage.setItem('token', data.token);
                } else {
                    console.error('Token not found in response');
                }
            } catch (error) {
                console.error('Error fetching token:', error);
            }
        }

        async function handleButtonClick(path) {
            await fetchToken();
            window.location.href = path;
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 text-center">
                <h1>Bienvenido</h1>
                <button class="btn btn-primary btn-block mt-3"
                    onclick="handleButtonClick('/alumno/verCurso?id=1')">Alumno</button>
                <button class="btn btn-secondary btn-block mt-3"
                    onclick="handleButtonClick('/profesor/Cursos')">Profesor</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>