<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación de Tareas - Maestro</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>

<body>
    <header>
        <h1>Calificar</h1>
        <h3>SAMUEL VEGA</h3>
    </header>
    <nav>
        <ul>

        </ul>
    </nav>
    <main>
        <div class="container">
            <h2 class="h2-alumno">Alumno: LUIS ESTEBAN DURAN</h2>
            <h2>Asignación:</h2>
            <h2 class="asignacion">Tarea 1</h2>
            <h2>Calificación:</h2>
            <input type="number" id="input-calificacion" class="calificacion-asignacion">
            <button class="btn-tarea" id="btn-asignar-calif">Asignar calificación</button>
        </div>
    </main>
    <footer>
        <p>&copy; Sistema escuela</p>
    </footer>

    <script src="../assets/subirCalif.js"></script>
</body>

</html>
