<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisión de Tareas - Padres</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body>
    <header>
        <h1>Revisión de Tareas</h1>
        <h3>Nombre</h3>
    </header>
    <nav>
        <ul>

        </ul>
    </nav>
    <main>
        <div class="container">
            <h2>Calificaciones de: Marcos López</h2>
            <div class="tarea">
                <h3>Ensayo sobre la revolución industrial</h3>
                <p>Curso: Historia</p>
                <p>Calificación: NUMERO</p>
                <p>Fecha de entregado: 02/04/2024</p>
            </div>
            <div class="tarea">
                <h3>Enlaces químicos</h3>
                <p>Curso: Química</p>
                <p>Calificación: NUMERO</p>
                <p>Fecha de entregado: 01/04/2024</p>
            </div>
            <div class="tarea">
                <h3>Gauss Jordan</h3>
                <p>Curso: Matemáticas</p>
                <p>Calificación: NUMERO</p>
                <p>Fecha de entregado: 29/03/2024</p>
            </div>
            <div class="tarea">
                <h3>Gauss Jordan</h3>
                <p>Curso: Matemáticas</p>
                <p>Calificación: NUMERO</p>
                <p>Fecha de entregado: 29/03/2024</p>
            </div>
            <div class="tarea">
                <h3>Gauss Jordan</h3>
                <p>Curso: Matemáticas</p>
                <p>Calificación: NUMERO</p>
                <p>Fecha de entregado: 29/03/2024</p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; Sistema escuela</p>
    </footer>
</body>
</html>

